*{
    outline: 1px dashed red;
}
a{
    color: white;
}
body{
    background-color: navy;
    color: white;
}
.wrapper{
    width: 970px;
    margin: 0px auto;
}
header{
    height: 150px;
}
.nav{
    height: 120px;
}
    .nav_links{
        height: 30px;
    }
    .nav_links ul{
        display: inline-block;
        margin: 0px 0px 0px 364px; /*or margin-left:*/
    }
    .nav_links li{
        display: inline-block;
    }
    .search_bar{
        display: inline-block;
        width: 482px;
    }
        .search_bar img{
            width: 80px;
            height: 50px;
            display: inline-block;
        }
        .search_bar form{
            display: inline-block;
            vertical-align: top;
            width: 390px;
            padding: 8px 0px;
        }
    .cart{
        display: inline-block;
        width: 482px;
        vertical-align: top;
    }
.services{
    height: 30px;
    background-color: rgb(9,9,73)
}
main{
    height: 400px;
}
footer{
    height: 160px;
}
    .things{
        display: inline-block;
        width: 320px;
        height: 80px;
    }
    .things img{
        display: inline-block;
        width: 70px;
        height: 70px;
    }
    .things .info{
        display: inline-block;
        width: 240px;   
        vertical-align: top;
    }