*{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    }
.wrapper{
    width: 950px;
    background-color: rgb(88, 53, 76);
}
.main_header{
    height: 20px;
    width: 920px;
    padding: 15px;
    background-color: rgb(241, 241, 241);
}
.main_header h1{
    display: inline-block;
}
.main_header h2{
    display: inline-block;
    text-align: right;
}
.main img{
    height: 250px;
    width: 400px;
    display: inline-block;
    margin: 25px 10px 10px 25px;
    border: 5px solid lightgray;     
}
.about_box{
    width: 445px;
    background-color: white;
    margin: 25px 10px 10px 20px;
    border: 5px black;
    display: inline-block;
    vertical-align: top;
}
.about_box h2{
    background-color: gray;
    color: white;
    padding: 10px;
}
.about_paragraph_one{
    padding: 10px;
}
.about_paragraph_two{
    padding: 5px 10px 10px 10px;
}
.about_paragraph_three{
    padding: 0px 10px 15px 10px;
}
.main_projects{
    width: 270px;
    height: 600px;
    background-color: white;
    margin: 10px;
    border: 5px black;
    display: inline-block;
    vertical-align: top;
}
.main_projects img{
    height: 150px;
    width: 100%;
}
.main_projects h2{
    background-color: gray;
    color: white;
    padding: 10px; 
}
.main_projects p{
    padding: 10px;
    margin-bottom: 10px;
    text-align: justify;
}
.main_projects h3{
    background-color: gray;
    color: white;
    padding: 10px; 
}
.tech_icons{
    padding: 5px;
}
.tech_icons li{
    display: inline-block;
    margin: 5px;
}
.tech_icons img{
    height: 35px;
    width: 35px;
}
.contact_info{
    background-color: rgb(241, 241, 241);;
}
.contact_info p{
    padding-top: 10px;
    margin-left: 320px;
}
.contact_info img{
    height: 20px;
    width: 20px;
}
.contact_info ul{
    margin-left: 250px;
    padding-top: 10px;
}
.contact_info ul li{
    display: inline-block;
}
.contact_info ul a{
    vertical-align: top;
    padding: 5px;
}
.main_projects a{
    background-color: green;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    padding: 3px;
    text-align: center;
    margin-left: 50px;
    border: 1px solid black;
}
.secondary-column{
}
/* .lamode_box{
    width: 250px;
    background-color: white;
    margin: 15px 10px 10px 25px;
    border: 5px black;
    display: inline-block;
    vertical-align: top;
}
.lamode_box h2{
    background-color: gray;
    color: white;
    padding: 10px; 
}
.lamode_box p{
    padding: 10px 10px 40px 10px;
    text-align: justify;
}
.lamode_box h3{
    background-color: gray;
    color: white;
    padding: 10px;  
}*/
/* .family_contacts_box{
    width: 250px;
    background-color: white;
    margin: 15px 10px 10px 10px;
    border: 5px black;
    display: inline-block;
    vertical-align: top;
}
.family_contacts_box h2{
    background-color: gray;
    color: white;
    padding: 10px; 
}
.family_contacts_box p{
    padding: 10px 10px 40px 10px;
    text-align: justify;
}
.family_contacts_box h3{
    background-color: gray;
    color: white;
    padding: 10px; 
}
.fiveEleven_box{
    width: 250px;
    background-color: white;
    margin: 15px 10px 10px 10px;
    border: 5px black;
    display: inline-block;
}
.fiveEleven_box h2{
    background-color: gray;
    color: white;
    padding: 10px;  
}
.fiveEleven_box p{
    padding: 10px 10px 40px 10px;
    text-align: justify;
}
.fiveEleven_box h3{
    background-color: gray;
    color: white;
    padding: 10px; 
} */