<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Full Friends App</title>
</head>
<body>
    <h1>Full Friends</h1>
    <table>
        <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
                <td>Actions</td>
            </tr>
        </thead>
    {% for friend in all_friends %}
        <tr>
            <td>{{ friend['first_name'] }}</td>
            <td>{{ friend['last_name'] }}</td>
            <td>{{ friend['email'] }}</td>
            <td><button><a href="/edit/{{ friend['id'] }}">Edit</a></button><button><a href="/delete/{{ friend['id'] }}">Delete</a></button></td>
        </tr>
    {% endfor %}
    </table>
    <div>
        <h1>Add a Friend</h1>
        <form action="/friends" method="POST">
            <label for="first_name">First Name: <input type="text" name="first_name"></label>
            <label for="last_name">Last Name: <input type="text" name="last_name"></label>
            <label for="email">Email: <input type="text" name="email"></label>
            <input type="submit" value="Add Friend">
        </form>
    </div>
</body>
</html>