<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninjas!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1>Ninjas!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sit repellat veritatis voluptatum esse temporibus, fugit quas ea illo, dolorum, quam nesciunt! Provident ad, delectus maiores exercitationem quas non quasi.</p>
</body>
</html>