*{
    outline: 1px dashed red;
}
/* a{
    color: white;
} */
body{
    background-color: #245076; 
    color: white;
}
.wrapper{
    width: 970px;
    margin: 0px auto;
}
header{
    height: 150px;
}
    .logo{
        width: 450px;
        height: 120px;
    }
    .search{
        display: inline-block;
        vertical-align: top;
    }
        .text_size{
            display: inline-block;
            margin: 0px 0px 0px 285px;
        }
            .text_size a{
                color: #a59819;
            }
        .search_bar{
            padding: 15px 40px;
            background-color: #444444;
            border-radius: 10px;
            margin-left: 165px;
        }
            .search_field{
                width: 200px;
                padding: 10px 0px;
            }
            input{
                text-align: center;
            }
            .search_button{
                padding: 5px 8px;
                background-color: #245076;
                color: white;
                border-radius: 5px;
            }
    .nav{
        width: 850px;
        height: 50px;
        background-color: #417bad;
        margin-left: 70px;
        margin-right: 70px;
        border-radius: 10px;
    }
        .nav_items{
            height: 40px;
        }
        .nav_items ul{
            display: inline-block;
        }
        .nav_items li{
            display: inline-block;
            padding: 0px 20px;
            font-size: 16pt;
        }