<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email Validation</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Enter an email address below</h1>
    <form action="/process" method="POST">
        <label for="email_address">Email Address: <input type="text" name="email_address" placeholder="someone@email.com"></label>
        <input type="submit" value="Submit">
    </form>       
</body>
</html>