<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey Index</title>
</head>
<body>
    <h1>Dojo Survey!</h1>
    <div>
        <form action="/result" method = "POST">
            <div class="form">
                <label for="name">Name:</label>
                <input type='text' name='name'>
            </div>
            <div class="dojo_loc">
                <label for="dojo_loc">Dojo Location:</label>
                <select type="text" name="dojo_loc">
                    <option value="San Jose">San Jose</option>
                    <option value="DC">DC</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Seattle">Seattle</option>
                </select>
            </div>
            <div class="form">
                <label for="favorite_lang">Favorite Language:</label>
                <select type="text" name="favorite_lang">
                    <option value='Python'>Python</option>
                    <option value='JavaScript'>JavaScript</option>
                    <option value='Java'>Java</option>
                </select>
            </div>
            <div class="form">
                <label for="comment">Comment (optional):</label>
                <div class="form">
                    <textarea name="comment" cols="30" rows="5"></textarea>
                </div>
                <input type="submit" name="submit">
            </div>
        </form>
    </div>
</body>
</html>