<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Advanced Validation Example</title>
</head>
<body>  
    <h1>Enter a Valid Email!</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>  
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/process" method="POST">
        Email: <input type="text" name="email">
        <input type="submit" value="Submit">
    </form>
</body>
</html>