<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
</head>
<body>
    <form action="/result" method="post">
    <div>
        <label for="name">Your Name:</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="location">Dojo Location:</label>
        <select type="text" name="location">
            <option value="San Jose">San Jose</option>
            <option value="DC">DC</option>
            <option value="Chicago">Chicago</option>
            <option value="Seattle">Seattle</option>
        </select>
    </div>
    <div>
        <label for="language">Favorite Language:</label>
        <select type="text" name="language">
            <option value="Python">Python</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Java">Java</option>
        </select>
    </div>
    <div>
        <label for="comment">Comment (optional):</label>
        <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
    </div>
    <input type="submit" value="Submit">
    </form>
</body>
</html>