<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello World!</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css")}}">
    <script type="text/javascript" src="{{ url_for("static", filename="js/script.js")}}"></script>
</head>
<body>
    <h1>Hello Flask!</h1>
    <p>My name is {{ name }}</p>
    <p>Times: {{ times }}</p>
    {% for x in range(0,times) %}
        <p>{{ name }}</p>
    {% endfor %}
</body>
</html>