<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Disappearing Ninja</title>
</head>
<body>
    <h1>Teenage Mutant Ninja Turtles</h1>
    {% if color == "blue" %}
        <div>
            <h2>Leonardo!</h2>
            <img src="{{ url_for('static', filename='img/leonardo.jpg') }}">
        </div>
    {% elif color == "orange" %}
        <div>
            <h2>Michelangelo!</h2>
            <img src="{{ url_for('static', filename='img/michelangelo.jpg') }}">
        </div>
    {% elif color == "purple" %}
        <div>
            <h2>Donatello!</h2>
            <img src="{{ url_for('static', filename='img/donatello.jpg') }}">
        </div>
    {% elif color == "red" %}
        <div>
            <h2>Raphael!</h2>
            <img src="{{ url_for('static', filename='img/raphael.jpg') }}">
        </div>
    {% else %}
        <div>
            <h2>April O'Neil!</h2>
            <img src="{{ url_for('static', filename='img/notapril.jpg') }}">
        </div>
    {% endif %}
</body>
</html>