<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Great Number Game</title>
</head>
<body>
    <div="intro">
        <h1>Welcome to the Great Number Game!</h1>
        <p>I am thinking of a number between 1 and 100</p>
        <p>Take a guess!</p>
    </div>
    <div>

    </div>
    <div="userinput">
        <form action="/guess" method="post">
            <input type="text" name="input" placeholder="Enter number here">
            <button>Submit</button>
        </form>
    </div>



</body>
</html>